<h3>Make review</h3>

<form (ngSubmit)="onSubmit()" #userForm="ngForm" novalidate>

  <div class="form-group">
    <label for="rate">Rate</label>
    <rating id="rate" name="rate" #rate="ngModel"
            [(ngModel)]="model.rate"
            [max]="5"
            iconClass="fa-star"
            fullIcon="★"
            emptyIcon="☆"
            [readonly]="false"
            [disabled]="false"
            [required]="true"
            [float]="true"
            [titles]="['one', 'two', 'three', 'four', 'five']">
    </rating>
  </div>

  <div class="form-group">
    <label for="text">Input text</label>
    <textarea type="text" class="form-control" id="text"
          required [(ngModel)]="model.text" name="text" #name="ngModel">
    </textarea>
    <div *ngIf="formErrors.text" class="alert alert-danger">
      {{formErrors.text}}
    </div>
  </div>

  <button type="submit" class="btn btn-default" [disabled]="!userForm.form.valid">Submit</button>
</form>
