<h2>Registration</h2>

<form (ngSubmit)="register()">

  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" name="username"
           [(ngModel)]="credentials.username">
  </div>

  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password"
           [(ngModel)]="credentials.password">
  </div>

  <!-- messages -->
  <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

  <div class="form-group">
    <button type="submit" class="btn btn-info">Registration</button>
  </div>

</form>
